<h2 mat-dialog-title>Details</h2>
<mat-dialog-content>
  <div *ngIf="data.genres" class="genre-section">
    <h3 class="genre-title">Genre:</h3>
    <mat-card-title>{{ data.genres.Name }}</mat-card-title>
    <div class="genre-description">{{ data.genres.Description }}</div>
  </div>
  <div *ngIf="data.directors" class="director-section">
    <mat-card-title class="director-title">{{
      data.directors.Name
    }}</mat-card-title>
    <div class="director-bio">{{ data.directors.Bio }}</div>
    <div class="director-birth">{{ data.directors.Birth }}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>
